
@import 'variables';

$enable-flex: true;

$brand-primary: gold;
$body-bg: black;

$card-bg: black;
$card-border-color: $brand-primary;



$navbar-dark-color:                 rgba($brand-primary,.5);
$navbar-dark-hover-color:           rgba($brand-primary,.75);
$navbar-dark-active-color:          rgba($brand-primary, 1);
$navbar-dark-disabled-color:        rgba($brand-primary,.25);

@import 'bootstrap';
// @import "pod-styles";

body {
  padding-top: 60px;
}
