// $enable-flex: true;

$brand-primary:             steelblue;

$gray-dark:                 $brand-primary;
$gray:                      darken($brand-primary, 10%);
$gray-light:                darken($brand-primary, 20%);
$gray-lighter:              darken($brand-primary, 30%);
$gray-lightest:             darken($brand-primary, 40%);

// $brand-primary:             #0275d8;
// $brand-success:             #5cb85c;
// $brand-info:                #5bc0de;
// $brand-warning:             #f0ad4e;
// $brand-danger:              #d9534f;

$body-bg:                   #eceff4;
$body-color:                $gray-dark;

$card-bg: rgba($body-bg,.25);
$card-border-color: rgba($brand-primary,.5);

$list-group-bg: rgba($body-bg,.25);
$list-group-border-color: rgba($brand-primary,.5);

$navbar-dark-color:                 white;
$navbar-dark-hover-color:           rgba($navbar-dark-color,.75);
$navbar-dark-active-color:          rgba($navbar-dark-color, 1);
$navbar-dark-disabled-color:        rgba($brand-primary,.25);

@import 'bootstrap';
@import "pod-styles";

.bg-inverse {
  // color: $gray-lighter;
  // background-color: rgba($,.25);
}

body {
  padding-top: 54px;
}
.zero {
  color: rgba(0, 0, 0, 0.3);
}
.d3-tip {
  background-color: rgba(white,.5);
  padding: 3px 12px;
  border-radius: 2px;
  border: thin solid gray;
}
.navbar {
	padding: 10px 10px 10px 20px;
	background: #1F2C36;
	border-radius: 0;
	margin-bottom: 0;
	border: none;
	z-index: 106;
}


