.annual-wrapper{

}
.reset{
    //display: none;
}
div.dc-chart {
    // float: left;
}

.dc-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-60deg);
}

.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
}

.dc-chart rect.bar:hover {
    fill-opacity: .5;
}

.dc-chart rect.stack1 {
    stroke: none;
    fill: red;
}

.dc-chart rect.stack2 {
    stroke: none;
    fill: green;
}

.dc-chart rect.deselected {
    stroke: none;
    fill: #ccc;
}

.dc-chart .empty-chart .pie-slice path {
    fill: #FFEEEE;
    cursor: default;
}

.dc-chart .empty-chart .pie-slice {
    cursor: default;
}

.dc-chart .pie-slice {
    fill: white;
    font-size: 12px;
    cursor: pointer;
}

.dc-chart .pie-slice.external{
    fill: black;
}

.dc-chart .pie-slice :hover {
    fill-opacity: .8;
}

.dc-chart .pie-slice.highlight {
    fill-opacity: .8;
}

.dc-chart .pie-path {
  fill:none;
  stroke-width: 2px;
  stroke: black;
  opacity: 0.4;
}

.dc-chart .selected path {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .deselected path {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .axis path,
.dc-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dc-chart .axis text {
    font: 10px sans-serif;
}

.dc-chart .grid-line,
.dc-chart .axis .grid-line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

.dc-chart .grid-line line,
.dc-chart .axis .grid-line line {
    fill: none;
    stroke: #ccc;
    opacity: .5;
    shape-rendering: crispEdges;
}

.dc-chart .brush rect.background {
    z-index: -999;
}

.dc-chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.dc-chart .brush .resize path {
    fill: #eee;
    stroke: #666;
}

.dc-chart path.line {
    fill: none;
    stroke-width: 1.5px;
}

.dc-chart circle.dot {
    stroke: none;
}

.dc-chart g.dc-tooltip path {
    fill: none;
    stroke: grey;
    stroke-opacity: .8;
}

.dc-chart path.area {
    fill-opacity: .3;
    stroke: none;
}

.dc-chart .node {
    font-size: 0.7em;
    cursor: pointer;
}

.dc-chart .node :hover {
    fill-opacity: .8;
}

.dc-chart .selected circle {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .deselected circle {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .bubble {
    stroke: none;
    fill-opacity: 0.6;
}

.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}

.dc-data-table {
}

.dc-chart g.state {
    cursor: pointer;
}

.dc-chart g.state :hover {
    fill-opacity: .8;
}

.dc-chart g.state path {
    stroke: white;
}

.dc-chart g.selected path {
}

.dc-chart g.deselected path {
    fill: grey;
}

.dc-chart g.selected text {
}

.dc-chart g.deselected text {
    display: none;
}

.dc-chart g.county path {
    stroke: white;
    fill: none;
}

.dc-chart g.debug rect {
    fill: blue;
    fill-opacity: .2;
}

.dc-chart g.row rect {
    fill-opacity: 0.8;
    cursor: pointer;
}

.dc-chart g.row rect:hover {
    fill-opacity: 0.6;
}

.dc-chart g.row text {
    // fill: white;
    fill: black;
    font-size: 12px;
    cursor: pointer;
}

.dc-legend {
    font-size: 11px;
}

.dc-legend-item {
    cursor: pointer;
}

.dc-chart g.axis text {
    /* Makes it so the user can't accidentally click and select text that is meant as a label only */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.dc-chart path.highlight {
    stroke-width: 3;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.dc-chart .highlight {
    fill-opacity: 1;
    stroke-opacity: 1;
}

.dc-chart .fadeout {
    fill-opacity: 0.2;
    stroke-opacity: 0.2;
}

.dc-chart path.dc-symbol,
g.dc-legend-item.fadeout {
    fill-opacity: 0.5;
    stroke-opacity: 0.5;
}

.dc-hard .number-display {
    float: none;
}

.dc-chart .box text {
    font: 10px sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10 */
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.dc-chart .box line,
.dc-chart .box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.dc-chart .box rect {
    stroke: #000;
    stroke-width: 1.5px;
}

.dc-chart .box .center {
    stroke-dasharray: 3,3;
}

.dc-chart .box .outlier {
    fill: none;
    stroke: #ccc;
}

.dc-chart .box.deselected .box {
    fill: #ccc;
}

.dc-chart .box.deselected {
    opacity: .5;
}

.dc-chart .symbol{
    stroke: none;
}

.dc-chart .heatmap .box-group.deselected rect {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}

.dc-chart .heatmap g.axis text {
    pointer-events: all;
    cursor: pointer;
}

.statistic-box {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background: 50% 50% no-repeat;
    background-size: cover;
    margin: 0 0 30px
}

.statistic-box.red {
    background-color: #fa424a;
    background-image: url(../img/statistic-box-red.png)
}

.statistic-box.purple {
    background-color: #ac6bec;
    background-image: url(../img/statistic-box-purple.png)
}

.statistic-box.yellow {
    background-color: #fdad2a;
    background-image: url(../img/statistic-box-yellow.png)
}

.statistic-box.green {
    background-color: #46c35f;
    background-image: url(../img/statistic-box-green.png)
}

.statistic-box>div {
    -webkit-border-radius: inherit;
    border-radius: inherit;
    height: 142px;
    background: url(../img/statistic-box-grid.png) 50% 0;
    background-size: 21px 20px;
    position: relative
}

.statistic-box .number {
    font-size: 2.425rem;
    line-height: 1;
    padding: 32px 0 0
}

.statistic-box .caption {
    font-size: 1.0625rem;
    font-weight: 600;
    position: relative;
    min-height: 35px;
    line-height: 1
}

.statistic-box .caption>div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 10px
}

.statistic-box .percent {
    position: absolute;
    right: 10px;
    bottom: 8px;
    text-align: center;
    font-size: .8125rem;
    font-weight: 600;
    line-height: 1
}

.statistic-box .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 8px;
    border-color: transparent transparent #fff;
    margin: 0 0 2px
}

.statistic-box .arrow.up {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.statistic-box .arrow.down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.box-typical {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d8e2e7;
    margin: 0 0 20px
}

.box-typical .box-typical-header {
    display: table;
    width: 100%
}
.box-typical .box-typical-header .action-btn {
    display: inline-block;
    vertical-align: top;
    color: #adb7be;
    border: none;
    background: 0 0;
    font-size: 1rem;
    margin: 0 0 0 10px;
    line-height: 18px
}

.box-typical .box-typical-header .action-btn .font-icon {
    vertical-align: middle
}

.box-typical .box-typical-header .action-btn .font-icon.font-icon-minus {
    position: relative;
    top: 1px
}

.box-typical .box-typical-header .action-btn:hover {
    color: #00a8ff
}

.box-typical .box-typical-footer {
    background: #fbfcfd;
    padding: 12px 15px;
    border-top: solid 1px #d8e2e7
}

.box-typical .box-typical-footer:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.box-typical .box-typical-section {
    border-top: solid 1px #d8e2e7;
    padding: 15px
}

.box-typical .box-typical-section:first-child,
.box-typical.box-typical-dashboard .box-typical-body .tbl-typical th {
    border-top: none
}

.box-typical.box-typical-dashboard {
    margin: 0 0 30px;
    overflow: hidden
}

.box-typical.box-typical-dashboard .box-typical-header {
    border-bottom: solid 1px #d8e2e7
}

.box-typical.box-typical-dashboard .box-typical-body {
    overflow: auto;
}
.lobipanel .panel-heading {
    padding: 13px 20px
}

.lobipanel .panel-heading .panel-title {
    margin: 5px 0 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    padding: 0
}

.lobipanel .panel-heading .panel-title input {
    border: 1px solid rgba(197, 214, 222, .7);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #343434!important;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 13px;
    background: #fff;
    padding: 4px 10px;
    font-weight: 400
}

.lobipanel .panel-heading .panel-title input.active,
.lobipanel .panel-heading .panel-title input:focus {
    border-color: #c5d6de;
    background: #fff
}

.lobipanel .panel-heading a {
    display: inline-block;
    vertical-align: top;
    border: none;
    background: 0 0;
    margin: 0
}

.lobipanel .panel-heading a i {
    color: #adb7be;
    font-size: .8rem;
    line-height: 18px
}

.lobipanel .panel-heading a:hover {
    box-shadow: none!important
}

.lobipanel .panel-heading a:hover i {
    box-shadow: none!important;
    color: #00a8ff!important
}
