<div class="container-fluid m-t-1">
  <div class="row">
    <div class="col-md-3">
      <div id="amountND">
      </div>
    </div>
    <div class="col-md-3">
      <div id="countND">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div id="monthChart">
      </div>
    </div>
    <div class="col-md-3">
      <div id="groupChart">
      </div>
      <div id="coachChart">
      </div>
    </div>
  </div>
</div>
{{yield}}
