.table-responsive{
	padding:15px;
}
table {
  max-width: 100%;
  background-color: transparent;
  	th {
	  text-align: left;
	  font-weight: 400;
	  color: #303641;
	}
	td{
		text-align: center;
	}
	> tbody > tr.highlight > td,
	> tbody > tr.highlight > th{
		background-color: #f1f2f4 !important;
 		 color: #303641;
	}
}
.table-bordered {
  border: 1px solid #ebebeb;
  	> thead > tr > th,
  	> tbody > tr > th,
  	> tfoot > tr > th,
  	> thead > tr > td,
  	> tbody > tr > td,
  	> tfoot > tr > td {
			 border: 1px solid #ebebeb;
  	}

  	> thead > tr > th,
  	> thead > tr > td {
  		  background-color: #f5f5f6;
		  border-bottom-width: 0px;
		  color: #a6a7aa;
		  border-bottom: 0 !important;
  	}
  	> tfoot > tr > th,
  	> tfoot > tr > td {
  		  background-color: #f5f5f6;
		  border-top-width: 1px;
		  color: #a6a7aa;
  	}
}