<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  {{#link-to 'index' class="navbar-brand" }}
    <img src="img/mobelogo.png">
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <ul class="nav navbar-nav">
      <li class="nav-item">
        {{#link-to 'revenue' class="nav-link" }}revenue{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'annual' class="nav-link" }}historical{{/link-to}}
      </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        {{#link-to 'settings' class="nav-link" }}Settings{{/link-to}}
      </li>
    </ul>
  {{/if}}
</nav>
{{outlet}}
