<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  {{#link-to 'index' class="navbar-brand" }}<img src="img/mobelogo.png">{{/link-to}}
  {{#if session.isAuthenticated}}
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        {{#link-to 'settings' class="nav-link" }}Settings{{/link-to}}
      </li>
    </ul>
  {{/if}}
</nav>
{{outlet}}
